@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:ital,wght@1,100;1,300&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;900&family=Roboto:ital,wght@1,100;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    background-color: #F2F0ED;
    overflow: hidden;
    
}

#nav {
    width: 100vw;
    height: 15vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    z-index: 999;
}

#part1 {
    width: 12%;
    height: 22%;
    position: relative;

}

#part1 .box3 img {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: -35%;
    left: 0;
   
}

#part1 .box3 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    text-align: center;

}

#nav #part1 .box3 p {
    width: 100%;
    height: 100%;
    font-size: 1.25vw;
    transform: translate(1%, 0%);
    transition: transform .3s ease;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#nav>#part1 .box3:hover p {
    transform: translate(1%, -100%);
}


#nav>h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    transition: scale .3s ease;
    cursor: pointer;
}

#nav>h1:hover {
    scale: .9;
}

#nav #menu {
    display: flex;
    flex-wrap: wrap;
    width: 3.2%;
    height: 40%;
    cursor: pointer;
    transition: transform .3s ease;
}

#nav #menu>p span {
    display: block;
    width: 8px;
    height: 8px;
    margin: 5px 5px;
    border-radius: 50%;
    background-color: black;

}

#nav #menu:hover {
    transform: rotate(360deg);
}

#page1 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#page1 div {
    height: 64%;
    margin-top: 8.5%;
    padding: 0 5%;
    position: relative;
}

#page1 div h1 {
    height: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 12vw;
    font-weight: 640;
    letter-spacing: -8px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#page1 div img {
    width: 0vw;
    position: absolute;
    bottom: 0;
    left: 37%;
}

#page2 {
    width: 100vw;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}
#page2 #left{
    width: 48%;
    height: 100vh;
    padding: 0 5%;
    overflow: hidden;
}
 .right {
    width: 48%;
    height: 100vh;
    position: relative;
}
.right  .box1{
    width: 25%;
    height: 3.2%;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
}
.right .box1 p{
    width: 100%;
    height: 100%;
    font-size: 1.2vw;
    transition: transform .3s ease;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

 .right .img{
    width: 100%;
    height: 75%;
    overflow: hidden;
    border-radius: 5%;
}

.right .img img{
    width: 100%;
    height: 100%;
    transition: scale .5s ease-in-out;
}
.right .img:hover img{
    scale: 1.1;
}
.right:hover .box1 p{
    transform: translate(0%, -100%);
}
.right>h1{
    width: fit-content;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vw;
    padding-right: 15%;


}
.right>h1:hover{
    text-decoration: underline #0e0e0e;
}
#page2 #left>p{
    width: fit-content;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
}
#page2 #left .box{
    width: 30%;
    height: 8%;
    border-radius:10px 15px;
    cursor: pointer;
    overflow: hidden;
}
#page2 #left .box p{
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    transition: transform .4s ease-in-out;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

}
#page2 #left .box:hover p{
    transform: translate(.2%, -100%);
    color: black;
}
#page3{
    width: 100vw;
    padding: 0 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}
.child1{
    margin-top: 25%;
}
#txt{
    width: 60%;
    height: 30vh;
    margin-top: 8%;
}
#txt h2{
    font-size: 2.5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
#txt h3{
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: -2px;
}
#page4{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
}
#page4 .elem{
    width: 22%;
    height: 90vh;
    border-radius: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.elem>h1{
    font-size: 2.5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
    padding: 0% 15%;
    margin-top: 10%;
}
.elem>p{
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 10% 15%;
}
#page4 .elem .eleming{
    width: 100%;
    height: 50%;
    overflow: hidden;
    border-radius: 5%;
    background-size: cover;
    background-position: center;
}
#page5{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#page5elem{
    width: 100%;
    height: 100vh;
    padding: 0% 5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rahul 5s ease-in-out .5s infinite;
    border-bottom: 2px dotted black;
    position: absolute;
    left: 0;
    top: 0;
    
}
#page5elem>h1{
    font-size: 8vw;
    font-family: 'Poppins', sans-serif;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transition: color .5 ease-in;
}
#page5elem>h1:hover{
    color: #0e0e0e;
}

@keyframes rahul {
    0%{
        background-color: #d6a5d7;
    }
    25%{
        background-color: #9bdca5;
    }
    50%{
        background-color:#BF9DDC ;
    }
    75%{
        background-color: #95d9e8;
    }
    100%{
        background-color: rgb(228, 174, 183);
    }
}

footer{
    width: 100%;
    height: 100vh;
    background-color: #0e0e0e;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
footer h1{
    font-size: 8vw;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: transparent;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}