<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome rahul</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo incidunt voluptate tempora dolores atque eligendi veniam sequi doloribus, ipsam autem sit sapiente officia vel aut impedit necessitatibus officiis porro repudiandae?</p>
</body>
</html>